<launch>

  <!-- these will go away once we have 
       a URDF w/ robot_state_publisher -->

  <node pkg="tf" type="static_transform_publisher" name="base_laser_link_tf" args="-0.06 0 0.3 0 0 0 base_footprint base_laser_link 50" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_tf" args="0 0 0 0 0 0 base_footprint base_link 50" />

  <node pkg="tf" type="static_transform_publisher" name="gyro_link_tf" args="0 0 0 0 0 0 base_footprint gyro_link 50" />

  <node pkg="bilibot_node" type="bilibot_node" name="bilibot_node" output="screen" respawn="true">
  </node>

</launch>
