# make ftdi device mount with writing permissions (default is read only for unknown devices)
ATTRS{idProduct}=="6001",ATTRS{idVendor}=="0403",MODE="666",GROUP="admin"
ATTRS{idProduct}=="2044",ATTRS{idVendor}=="03eb",MODE="666",GROUP="admin"
